<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Products</h3>
  </div>
  <div class="panel-body">
    <p><%= @products_count %> products</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Categories</h3>
  </div>
  <div class="panel-body">
    <p><%= @categories_count %> categories</p>
  </div>
</div>
